@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@100;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bitter", serif;
  font-weight: 500;
}

form input {
  width: 250px;
}

.displays h2,
.movies-box {
  margin-top: 40px;
}

.movie-card {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.404);
}

.movie-details {
  border: 1px solid rgba(151, 151, 151, 0.404);
  padding: 5px;
  border-radius: 25px;
}

.img > .image {
  height: 300px;
  width: 100%;
  object-fit: contain;
}

.error {
  color: red;
  text-align: center;
}
